
$textColor: #fff;
$firstColor: rgb(81, 196, 66);
$secondColor: rgb(82, 168, 70);
$hoverColor: #ddd;

body{
    background-color: white;
    color: $textColor;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar{
    position: fixed;
    width: 100%;
    transition: .7s;
    
    .logo{
        color: $secondColor;
        font-size: 2.2em;
        letter-spacing: 0.1em;
        font-family: 'Ubuntu', sans-serif;
    
        &:hover{
            color: $hoverColor;
        }
    }
    .nav-item{
        &.active{
            background-color: #888;
            border-radius: 30px;
        }
        .nav-link{
            color: $textColor;
            font-size: 1.1em;
            padding: 0.2em 1.2em 0.2em 1.2em;
        
            &:hover{
                color: $hoverColor;
            }
        }
    }
    &.black {
        background-color: rgba(1, 1, 1, .6);
        .logo{
            color: $firstColor;
        }
    }
}

section{
    &.one{
        height: 100vh;
        width: 100%;
        background-image: url("../img/background.jpg");
        background-repeat: no-repeat;
        div.darkerBackground{
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
        }
        div.title{
            position: absolute;
            text-align: center;
            width: 100%;
            margin: 30vh 0 70vh 0;
            font-family: 'Ubuntu', sans-serif;
            h3{
                font-size: 35px;
                color: $secondColor;
            }
            h1{
                font-size: 50px;
                font-weight: bold;
                color: $firstColor;
            }
        }
    }
}


